.parent_class{
    color: red;
}
.my_navbar{
    display: flex;   
}
.my_navbar .navbar_menu{
    padding: 5px;
}
footer {
    background-color: #212529;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
